/* Typography */
$font-heading-now-name: "HeadingNowTrial-57Extrabold";
$font-heading-now-path: "../fonts/HeadingNowTrial-57Extrabold.ttf";
$font-heading-now: $font-heading-now-name, "Inter", sans-serif;
